body {
  color: yellow;
  background-color: #DDDCB3;
  background-image: url("http://i.telegraph.co.uk/multimedia/archive/01120/blackballs_1120775i.jpg");
  font-family: Arial;
}
a {
  color: yellow;
}

img {
  border-style: solid;
  width: 300px;
    border: 25px solid yellow;
    margin: auto;
}
h1 {
  border-style: solid;
  width: 300px;
    border: 25px solid yellow;
    padding: 25px;
    margin: auto;
}
