body {
  background-color: #F7F4E3;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    background-color: lightgrey;
}

.aboutme {
    text-align: center;
    background-color: #FFC300;
    color: #AD213A;
    width: 300px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.favorites {
    text-align: center;
    background-color: #E1941D;
    color: purple;
    width: 300px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.contact {
     text-align: center;
    background-color: #AD213A;
    color: #FFC300;
    width: 300px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}
